body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-top: 7px dotted grey;
  width: 60px;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #99ddcc;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #99ddcc;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #bad7df;
}

.copy-right-text{
  color: white;
}
.bottom-container {
  background-color: #bad7df;
  height: 150px;
}

.top-container {
  background-color: #f6f6f6;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.camera-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.ellie-image {
  width: 15%;
  margin-top: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.yoga-image {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.footer-link {
  color: #11999E;
  padding: 30px;
  text-decoration: none;
}

.btn {
  color: white;
  background: #99ddcc;
  border: 0;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  margin-bottom: 30px;
}

.about-me-paragraph {
  width: 40%;
  margin: auto auto 40px auto;
}

.contact-me-paragraph{
  width: 45%;
  margin: auto auto 20px auto;
}

.footer-text{
  padding-top: 50px;
  margin:auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.copy-right-text{
  font-size: 12px;
}
